$base-color:#3cbdfe;
$base-red:#ff938e;
$base-black:#040404;
$base-white:#ffffff;
$navbar-font:#2f3234;
$base-grey:#5e6166;
$gold-color:#f8c76c;
$green-color:#50e284;
$plan-green:#43b489;
$fullwidth:100%;
$svg-grey:#505050;
$title-color:#333333;
$font-light:300;
$font-regular:400;
$font-semibold:600;
$font-bold:700;
$font-black:900;