<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Online profesor | Dynamic Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/bootstrap-multiselect.css">
<link rel="stylesheet" href="css/addon.css">
</head>
<body>

<nav class="navbar white-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>    
      <img src="img/logo.jpg" class="img-responsive ptb10" width="180">
    </div>
	<div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right top-menu">
        
        <li class="dropdown active-topmenu topmenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
            <span class="menu-down">
                <svg version="1.1" x="0px" y="0px" width="12px" height="10px" viewBox="0 0 21 17" enable-background="new 0 0 21 17" xml:space="preserve">
                    <g>
                        <path fill="#F58700" d="M16.2,4.2L10.5,10L4.8,4.2L3,6l7.5,7.5L18,6L16.2,4.2z"></path>
                        <path fill="none" d="M-4.5-6.5h30v30h-30V-6.5z"></path>
                    </g>
                </svg>
            </span> 
            </a>
            <ul class="dropdown-menu top-submenu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
        
        <li class="dropdown topmenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Current Affairs
            <span class="menu-down">
                <svg version="1.1" x="0px" y="0px" width="12px" height="10px" viewBox="0 0 21 17" enable-background="new 0 0 21 17" xml:space="preserve">
                    <g>
                        <path fill="#333333" d="M16.2,4.2L10.5,10L4.8,4.2L3,6l7.5,7.5L18,6L16.2,4.2z"></path>
                        <path fill="none" d="M-4.5-6.5h30v30h-30V-6.5z"></path>
                    </g>
                </svg>
            </span> 
            </a>
            <ul class="dropdown-menu top-submenu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
<!--          <li><a href="#">Sign In</a></li>
          <li><a href="#">Register</a></li>-->
          <li><a href="#">My Dashboard</a></li>
          <li class="hidden-xs"><a href="#"><img src="img/avatar.png" width="36" height="36"></a></li>          
        </ul>
     </div>   
  </div>
</nav>

<section id="nav-group">
<div class="nav-group">
	<div class="container">
    	<div class="container-reduce-width">
        	<h2 class="funda-head">Civil Service</h2>
            <nav class="navbar main-nav">
                <ul class="nav navbar-nav category-nav">
                  <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Submenu
                    <span class="menu-down">
                    	<svg version="1.1" x="0px" y="0px" width="12px" height="10px" viewBox="0 0 21 17" enable-background="new 0 0 21 17" xml:space="preserve">
                            <g>
                                <path fill="#ffffff" d="M16.2,4.2L10.5,10L4.8,4.2L3,6l7.5,7.5L18,6L16.2,4.2z"></path>
                                <path fill="none" d="M-4.5-6.5h30v30h-30V-6.5z"></path>
                            </g>
                    	</svg>
                    </span>                  
                  
                  </a>
                    <ul class="dropdown-menu sub-category">
                        <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">New dropdown                     

                        </a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                          <li class="dropdown-submenu">
                            <a class="test" href="#">Another dropdown

                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="#">3rd level dropdown</a></li>
                              <li><a href="#">3rd level dropdown</a></li>
                            </ul>
                          </li>
                        </ul>
                        </li>
                      <li><a href="#">Sample Category 2</a></li>
                      <li><a href="#">Sample Category 3</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Submenu 2 
                    <span class="menu-down">
                    	<svg version="1.1" x="0px" y="0px" width="12px" height="10px" viewBox="0 0 21 17" enable-background="new 0 0 21 17" xml:space="preserve">
                            <g>
                                <path fill="#ffffff" d="M16.2,4.2L10.5,10L4.8,4.2L3,6l7.5,7.5L18,6L16.2,4.2z"></path>
                                <path fill="none" d="M-4.5-6.5h30v30h-30V-6.5z"></path>
                            </g>
                    	</svg>
                    </span>                    
                  </a>
                    <ul class="dropdown-menu sub-category">
                      <li><a href="#">Sample Category 1</a></li>
                      <li><a href="#">Sample Category 2</a></li>
                      <li><a href="#">Sample Category 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Page 3</a></li>
                </ul>
            </nav>            
        </div>
    </div>
</div>
</section>

<section>
    <div class="dynamic-page">
    	<div class="container">
        	<div class="container-reduce-width">
				<h3 class="dynamic-heading">Dynamic content title comes here</h3>	
                <div class="dynamic-content">
                	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                    galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
                    Aldus PageMaker including versions of Lorem Ipsum.</p>
                	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                    galley of type and scrambled it Lorem Ipsum passages, and more recently with desktop publishing software like 
                    Aldus PageMaker including versions of Lorem Ipsum.</p>  
                	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                    galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
                    Aldus PageMaker including versions of Lorem Ipsum.</p>                                      
                </div>
            </div>	<!--container-reduce-width-->
        </div><!--container-->       
    </div><!--dynamic-page-->
</section>

<!--footer section starts here-->
<section id="footer-group">
<div class="footer-group">
	<div class="container">
    	<div class="container-reduce-width">
			<div class="col-xs-6 col-sm-4 nlps mobile-full-width">
            	<div class="footer-widget">
            		<h3>Address</h3>
                    <span class="foot-address">
                    	Dr.Mukherjee Nagar,<br/>
                        Behind Mukherjee Nagar Post Office<br/>
                        New Delhi, Pin 664394
                    </span>
                    <span class="foot-contact">Call Us &nbsp;&nbsp; 122334456</span>
                    <span class="center-block">Email &nbsp;&nbsp;&nbsp;&nbsp; info.onlineprofesor@gmail.com</span>
                    
                    <ul class="social-icons">
                    	<li><a href="#"><svg version="1.1" width="28px" height="28px"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><g><g><circle fill="#999999" id="facebook" cx="12" cy="12" r="12"/></g>
	<g><path fill="#4D4D4D" d="M15,12.5h-2.1v7.8H9.6v-7.8H8.1V9.7h1.5V7.9c0-1.3,0.6-3.3,3.3-3.3l2.4,0v2.7h-1.7c-0.3,0-0.7,0.1-0.7,0.8
			v1.6h2.4L15,12.5z"/></g></g></svg></a>
            			</li>	
                    	<li><a href="#"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" width="28px" height="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
<g>
	<g>
		<circle id="twitter" fill="#999999" cx="12" cy="12" r="12"/>
	</g>
	<g>
		<g>
			<path fill="#4D4D4D" d="M19.4,8.6c-0.5,0.2-1.1,0.4-1.6,0.5c0.6-0.4,1-0.9,1.3-1.6c-0.6,0.3-1.2,0.6-1.8,0.7
				c-0.5-0.6-1.3-0.9-2.1-0.9c-1.6,0-2.9,1.3-2.9,2.9c0,0.2,0,0.4,0.1,0.7c-2.4-0.1-4.5-1.3-5.9-3C6.1,8.2,6,8.7,6,9.2
				c0,1,0.5,1.9,1.3,2.4c-0.5,0-0.9-0.1-1.3-0.4c0,0,0,0,0,0c0,1.4,1,2.5,2.3,2.8c-0.2,0.1-0.5,0.1-0.8,0.1c-0.2,0-0.4,0-0.5-0.1
				c0.4,1.1,1.4,2,2.7,2c-1,0.8-2.2,1.2-3.6,1.2c-0.2,0-0.5,0-0.7,0c1.3,0.8,2.8,1.3,4.4,1.3c5.3,0,8.2-4.4,8.2-8.2
				c0-0.1,0-0.2,0-0.4C18.5,9.7,19,9.2,19.4,8.6L19.4,8.6z"/>
		</g>
	</g>
</g>
</svg></a>
            			</li>	
                    	<li><a href="#"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" width="28px" height="28px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
<g>
	<g>
		<circle id="youtube" fill="#999999" cx="12" cy="12" r="12"/>
	</g>
	<g id="Layer_x0020_1_2_">
		<g>
			<path fill="#4D4D4D" d="M18.7,7.4c-0.3-0.3-0.7-0.5-1.1-0.5c-0.9-0.1-1.8-0.2-2.8-0.2c-0.9,0-1.9,0-2.8,0c-0.9,0-1.9,0-2.8,0
				c-0.9,0-1.9,0.1-2.8,0.2C6,6.9,5.6,7.1,5.3,7.4C5,7.7,4.8,8,4.7,8.5C4.6,9,4.5,9.6,4.5,10.2c0,0.6,0,1.2,0,1.8c0,0.6,0,1.2,0,1.8
				c0,0.6,0.1,1.2,0.2,1.8C4.8,16,5,16.3,5.3,16.6c0.3,0.3,0.7,0.5,1.1,0.5c0.9,0.1,1.8,0.2,2.8,0.2c0.9,0,1.9,0,2.8,0
				c0.9,0,1.9,0,2.8,0c0.9,0,1.9-0.1,2.8-0.2c0.4,0,0.8-0.2,1.1-0.5c0.3-0.3,0.5-0.6,0.6-1.1c0.1-0.6,0.2-1.2,0.2-1.8
				c0-0.6,0-1.2,0-1.8h0v0h0c0-1.2,0-2.4-0.3-3.5C19.2,8,19,7.7,18.7,7.4L18.7,7.4z"/>
		</g>
		<g>
			<path fill="#999999" d="M14.9,11.7c-0.9-0.4-1.7-0.9-2.6-1.3c-0.7-0.4-1.4-0.7-2.1-1.1L9.9,9.1v0.3v4.9v0.3l0.2-0.1
				c0.8-0.4,1.6-0.8,2.4-1.2l2.4-1.2l0.3-0.1L14.9,11.7L14.9,11.7z"/>
		</g>
	</g>
</g>
</svg></a>
            			</li>	                                                
                    </ul>
                </div>
            </div>
			<div class="col-xs-6 col-sm-3 mobile-full-width">
            	<div class="footer-widget">
                	<h3>Quick Links</h3>
                    <ul>
                    	<li><a href="#">Free Resources</a></li>
                        <li><a href="#">Current Affairs</a></li>
                        <li><a href="#">Synergy Test Series</a></li>
                        <li><a href="#">December Courses</a></li>
                        <li><a href="#">December Courses</a></li>
                    </ul>
                 </div>
            </div>            
            <div class="col-xs-12 col-sm-5 mobile-full-width">
            	<div class="footer-widget subscribe-widget">
            		<h3>Subscribe to Our NewsLetter</h3>
                    <form>
                    <div class="form-group posrel">
                    <select id="cat-select" multiple="multiple" class="form-control category-sel">
                        <option value="cheese">Cheese</option>
                        <option value="tomatoes">Tomatoes</option>
                        <option value="mozarella">Mozzarella</option>
                        <option value="mushrooms">Mushrooms</option>
                        <option value="pepperoni">Pepperoni</option>
                        <option value="onions">Onions</option>
                    </select>
                    </div>
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email">
                    <span class="input-group-btn">
                        <button class="btn btn-subscribe" type="button">
                          Subscribe
                        </button>
                    </span>
                    </div>
                    </form>
                </div>    
            </div> 
            <div class="bottom-line"></div>
            <div class="col-xs-12 col-sm-12">
            	<ul class="bottom-links">
                	<li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Copyright &copy; 2017 onlineprofesor.com</a></li>
                </ul>
            </div>        
        </div>
    </div>
</div>
</section>
<!--footer section ends here-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<script>
$(document).ready(function(){
  $('.in,.open').removeClass('in open');	
  $('.dropdown-submenu a.test').on("click", function(e){

    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
  
  // for footer select box
  $('#cat-select').multiselect({
            includeSelectAllOption: true,
            maxHeight: 400,
            dropUp: true
        }); 
  

});
</script>
</body>
</html>
