.linkbar {
	width: 100%;
	float: left;
	background-color: #fafafa;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	ul {
		width: auto;
		float: right;
		display: inline-block;
		padding:3px 0px;
		margin:0px;
		li {
			a {
				width: 100%;
				float: left;
				color: #5c5c5c;
				font-size: 13px;
				line-height: 24px;
				margin: 0 0 0 17px;
				font-family: 'MontserratSemiBold';
				&:hover {
					color: #fe6d00;
				}
			}
		}
	}
	li {
		width: auto;
		float: left;
		list-style: none;
	}
	.active {
		color: #fe6d00;
	}
}