/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Jun, 2016, 12:51:18 PM
    Author     : Hariharan
*/

.auto-search-lister {
    border    : 2px solid #f3f4f5;
    position  : absolute;
    max-height: 158px;
    list-style: none;
    overflow  : auto;
    display   : none;
    width     : 95%;
    margin-top: 0px;
    z-index   : 999;
}
.auto-search-lister li {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 0px;
    overflow-y:auto;
    padding:5px;
}
.auto-search-lister li:hover {
    cursor:pointer;
    background:#CCC none repeat scroll 0 0;
} 

/*search clear option starts*/
#searchclear {
    position: absolute !important;
    z-index: 9;
    right: 65px;
    bottom: 0;
    height: 39px;
    margin: auto;
    font-size: 26px;
    cursor: pointer;
    color: #c0c0c0;
}
/*ends*/

.icon-custom {
    font-size: 20px;
    font-weight: 500;
}

#list-teacher-image img {
    width: 100%;
}

.logo{
    background: none;
}

.logo img {
    height: 50px;
    width: 55%;
}

.dash-ico-items li a.dash-cms i {
    background-position: -928px 0;
}

.user-image-upload-btn{
height: 41px;
    left: calc(50% - 82px);
    opacity: 0;
    position: absolute;
    top: calc(50% - 20px);
    transform: scale(0.8);
    width: 163px;
    z-index: 999999999;
	}
	.course-image-upload-btn {
		width:100%;
		height:100%;
	}
	.card-prieview {
		position:relative !important;
	}
	.card-prieview .img-chng {
 height: 100%;   
    width: 100%;
	padding:0;
	}
	.course-image-upload-btn, .catalog-image-upload-btn {
  height: 24%;
    left: 80px;
    opacity: 0;
    position: absolute;
    top: 59px;
    width: 44%;
    z-index: 2;
	cursor:pointer;
}
.comment-delete-btn { margin-left: 5px; background: #db3737 none repeat scroll 0 0;border: 1px solid #a11616; border-radius: 50%;color: #fff;cursor: pointer;height: 20px;padding-left: 1px;text-align: center;width: 20px;}

/* admin side modifications done by Tintu Sam */
.sidebar-menu a:hover{color:#ccc;}

/* admin side modifications done by Yadu Chandran */
#notify_deleted b{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 6px;
    font-size: 20px;
}

#notify_deleted p{
    font-size: 18px;
}
#challenge_validation b{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 6px;
    font-size: 20px;
}

#challenge_validation p{
    font-size: 18px;
}

#page_row_wrapper #popUpMessage{
    margin-top:10px;
}
#expert_form  #popUpMessage{
    text-align:center;
}
#course_div_youtube #popUpMessage{
    text-align:center;
}
#catalog_div_youtube #popUpMessage{
    text-align:center;
}
.border-error{
    border-color:rgb(185, 74, 72)!important;
}
#show_message_div #popUpMessage{
    text-align:center;
    margin-top: 10px;
}
#dis_commented_users #popUpMessage{
    text-align:center;
    margin-top: 20px;
}
.no-bg-discussion{
    border-bottom: none!important;
}
.loading{
    position: absolute;
    top: 50%;
    left: 40%;
    color: #FFF;
    font-size: 15px;
    z-index: 2;
}
.choice-question textarea{
    resize:none;
}
.content-text {
    text-align: justify!important;
    word-break: break-word;
}
.save-btn{
    padding-bottom: 20px;
}
#page_form textarea{
    resize:none;
}

/*
#support_message #popUpMessage{
    text-align:center;
}

#contact_message #popUpMessage{
    text-align:center;
}

#show_dropbox_message #popUpMessage{
    text-align:center;
}

#show_fb_message #popUpMessage{
    text-align:center;
}

#email_show_message #popUpMessage{
    text-align:center;
}

#storage_cdn_div #popUpMessage{
    text-align:center;
}

#message_basic_div #popUpMessage{
    text-align:center;
} */

.choice-question textarea{
    resize:none;
}

.logo-image-upload-btn {
    cursor: pointer;
    height: 61%;
    left: 72px;
    opacity: 0;
    position: absolute;
    top: 33px;
    width: 48%;
    z-index: 2;
}
/* Created by Deepu */

.closebtn{
    position: absolute;
    top: 7px;
    right: 7px;
    color: #66434e;
    font-size: 15px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
.closebtn:hover{
    color: #afabab;
}

.closebtn-cmt{
    color: #4c4a4a;
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
}
.closebtn-cmt:hover{
    color: #afabab;

}
.post-btn-discussion{
	background: #27156e!important;
    font-size: 16px!important;
    color: #fff!important;;
    padding: 0px 25px;
    text-transform: uppercase;
}
.reply-disc-input{
	 height: 30px;
     margin-top: 10px;	
}

.alert{position: relative;}


/* Task Manager */
.assignee-list{
    display: inline-flex;
    align-items: center;
    border-radius: 22px;
    padding: 4px 4px 4px 4px;
    border: 1px solid transparent;
    position:relative;
}
.assignee-list:hover{
    border: 1px solid #ccc;
}
.assignee-list:hover .assignee-close{visibility:visible}

.assignee-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.assignee-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.assignee-list .assignee-name{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-left: 10px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.assignee-close{
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    margin: 0px 0px 0px 10px;
    background: #4c4c4c;
    border-radius: 50%;
    line-height: 7px;
    padding: 5px 3px;
    width: 16px;
    height: 16px;
    visibility:hidden;
}


 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .myInput {
    box-sizing: border-box;
    font-size: 16px;
    padding: 7px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .myInput::placeholder {
    font-size: 13px;
  }
  
  .myInput:focus {outline: 3px solid #ddd;}
  
  .assignee-dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: #f6f6f6;
    width: 200px;
    border: 1px solid #ddd;
    z-index: 999;
  }
  
  .assignee-dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }

  .search-items{
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .search-items::-webkit-scrollbar {
    width: 10px;
  }
  .search-items::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  .search-items::-webkit-scrollbar-thumb {
    background: #888; 
  }
  .search-items::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .assignee-list-info{
      display: inline;
      font-size: 14px;
      margin-left: 10px;
  }

.assignee-serch-item{padding: 5px 10px;}

.task-due-date{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 22px;
    position: relative;
    padding: 4px 4px;
}
.task-due-date:hover{
    border: 1px solid #ccc;
}
.task-due-date:hover .assignee-close{visibility:visible}


.task-due-date .date-icon{    
      width: 30px;
    height: 30px;
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.task-due-date .due-date-info{
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.due-date-info .due-title{
    font-size: 12px;
    font-weight: 400;
    color: #696969;
    line-height: 12px;
}
.due-date-info .due-date{
    font-size: 13px;
    font-weight: 600;
    color: #696969;
    line-height: 16px;
}

.task-status-mark{
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #828282;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.task-status-mark:hover{
    border: 1px solid #25e8c8;
    background-color: #e2fffa;
    cursor: pointer;
}
.task-status-mark:hover svg{fill: #25e8c8 !important;}

.task-status-mark.active{
    border: 1px solid #60e9c8;
    background-color: #60e9c8;
    cursor: pointer;
}
.task-status-mark.active svg{fill: #fff !important;}
.task-status-mark.active:hover{
    border: 1px solid #50c09c;
    background-color: #50c09c;
    cursor: pointer;
}
